.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

.home-link {
  cursor: pointer;
}

.server-select {
  margin-left: 20px;
  margin-top: 10px;


/deep/ .mat-form-field {
  color:  white;
  font-size: 15px;
}

/deep/ .mat-select-value{
  color:  white;
  
}
/deep/ .mat-select-trigger {
  width: 85%;
  
}

/deep/ .mat-focused {
  color:  white;
}

}