<mat-toolbar color="primary">
    <span><mat-icon class="mat-18">forum</mat-icon> Avatar-Chat</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button *ngIf="authenticated" mat-button [matMenuTriggerFor]="menu">        
            <mat-icon>perm_identity</mat-icon>
            <span>{{user_name}}</span>
        </button>        
        <mat-menu #menu="matMenu">
        <button  mat-menu-item (click)="signOut.emit()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-menu>
</mat-toolbar>