<mat-toolbar color="primary">
    <span class="home-link" routerLink="chat"><mat-icon class="mat-18">forum</mat-icon> Avatar-Chat</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <div class="server-select">
    <mat-form-field>
        <i class="fas fa-globe"></i>
        <mat-select [(value)]="selected_server" placeholder="server">
            <mat-option value="Firebase"><i class="fas fa-fire"></i> Firebase</mat-option>
            <mat-option value="SingnalR"><i class="fas fa-server"></i> SingnalR</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    
    <button *ngIf="authenticated" mat-button (click)="admin.emit()"><mat-icon>insert_chart</mat-icon> Statistics</button>

    <button *ngIf="authenticated" mat-button [matMenuTriggerFor]="menu">        
            <mat-icon>perm_identity</mat-icon>
            <span>{{user_name}}</span>
        </button>        
        <mat-menu #menu="matMenu">
        <button  mat-menu-item (click)="signOut.emit()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>

    </mat-menu>
</mat-toolbar>