@import "../../../variables.scss";

$break-small: 670px;
$extra-small: 450px;

.chat-messages {    
    padding: 0 10px;
    height: 78vh;    
    border-bottom: 1px solid lightgray;    
    background-color: #fafafa;
    overflow: auto;
    
    .descr{
        font-size: x-small;    
        margin-top: 5px;
    }
    
    .first{
        margin-top: 5px;
    }

    p{
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 1px;
        background-color: white;
        word-break: break-all;
    }    
    p.input{        
        border-radius: 0px 5px 5px 5px;
        margin-right: 30%;
        margin-left: 40px;
        background-color: #cbe8ff;        
    }
    p.output{
        border-radius: 5px 0px 5px 5px;
        margin-left: 30%;        
    }

    .output{        
        text-align: right;
    }

    .photo_container{
        height: 35px;
        width: 35px;
        overflow: hidden;
        float: left;
        margin: 10px 0;
        border-radius: 100px;
        background-color: white;
    }
    img.input{  
        width: 25px;
        padding: 5px;
        
    }
}
@media screen and (max-width: $extra-small) {
    .chat-messages {    
        height: 73vh;    
    }
}

.input-message{
    background-color: white;
    padding: 0 10px;

    .emotion-button {
        float: left;
        margin-top: 10px;
    }

    .mat-form-field {
        width: 65%;
    }
    button.big{
        float: right;
        margin-top: 10px;
    }
    button.small{
        display: none;
        float: right;
        margin-top: 15px;
    }
    @media screen and (max-width: $break-small) {
        button.big{
            display: none;
        }   
        button.small{
            display: inline;
        }   
    }
}

.dialog-emoji{
    .result{
        text-align: center;
    }
    .list{
        width: 240px;
        height: 285px;
        p{
            float: left;
            padding: 5px;
            cursor: pointer;
        }
    }
}