.bot-tab-group{    
    .mat-tab-header{
        width: 80vw !important;
    }

    .bot-tab-content{
        border-bottom: 1px solid lightgray;
    }
}

.chat{
    margin-left: 30vw;
    border-left: 1px solid lightgray;
}
.details{
    width: 30vw;
    float: left;
}

.mat-dialog-container{
    overflow: initial;
}

.add-bot-container{
    color: #505050;
    text-align: center;
    .img-bot{
        position: fixed;
        margin-top: -100px;
        margin-left: 30px;
        border: 3px solid #2196f3;
        border-radius: 100px;
        background-color: white;
        padding: 20px;
        max-height: 12vh;
        overflow: hidden;
        img{
            width: 12vh;
        }
    }
    h1.text{
        margin: 0;
    }
}