<app-header (add_avatar)="openDialogAddAvatar()"></app-header>

<mat-tab-group class="bot-tab-group" 
        (selectedTabChange)="selectAvatar()"
        [(selectedIndex)]="sel_avatar">
        <mat-tab *ngFor="let bot of bot_list"
                  label="{{bot.name}}">
          <div class="bot-tab-content">
            <div class="details">
                <app-details-bot 
                  [curent_user_name]="bot.name"
                  [curent_user_img]="bot.img" 
                  (kill)="kill(bot)"></app-details-bot>
                <app-rooms-list                  
                  [rooms]="bot.rooms"
                  (addRoom)="addRoom($event)"
                  (selectRoom)="selectRoom($event)"></app-rooms-list>
            </div>
            <div class="chat">
              <app-chat-room 
                [messages]="messages"
                [chat_url]="bot.sel_room"
                (addNewMessage)="addNewMessage($event)"
                [curent_user_name]="bot.name"
                [curent_user_img]="bot.img"></app-chat-room>
            </div>
          </div>
        </mat-tab>        
</mat-tab-group>
