<!--component html goes here -->
<div class="main">
    <h1>Login with:</h1>
    <div class="row columns">
        <button mat-raised-button class="sign-in__button" (click)="signInAnonymously()" type="button">Anonymously</button>
        <p></p>
        <button mat-raised-button class="sign-in__button" (click)="signInWithGithub()" type="button">GitHub</button>
        <button mat-raised-button class="sign-in__button" (click)="signInWithGoogle()" type="button">Google</button>
        <button mat-raised-button class="sign-in__button" (click)="signInWithTwitter()" type="button">Twitter</button>
        <button mat-raised-button class="sign-in__button" (click)="signInWithFacebook()" type="button">Facebook</button>
    </div>
</div>