
.chat-messages{    
    padding: 10px;
    height: 70vh;    
    border-bottom: 1px solid lightgray;    
    background-color: #eeeeee;
    overflow: auto;
    
    .descr{
        font-size: x-small;    
    }
    
    p{
        padding: 10px;
        margin-top: 0px;
        background-color: white;
    }
    p.input{        
        border-radius: 0px 5px 5px 5px;        
        margin-right: 30%;
    }
    p.output{
        border-radius: 5px 0px 5px 5px;        
        margin-left: 30%;        
    }

    .output{        
        text-align: right;
    }
}
.input-message{
    background-color: white;
    padding: 10px;

    .mat-form-field {
        width: 80%;
    }
    button{
        float: right;
        margin-top: 10px;
    }
}