<!--component html goes here -->
<div #scrollMe class="chat-messages">    
    <div *ngFor="let mes of messages" [ngClass]="{input: mes.from!==curent_username,output:mes.from==curent_username}">
        <span class="descr">{{mes.from}}: {{mes.time | date:"dd.MM.yyyy HH:mm"}}</span>
        <p [ngClass]="{input: mes.from!==curent_username,output:mes.from==curent_username}">{{mes.text}}</p>
    </div>
</div>

<div class="input-message">
 <mat-input-container floatPlaceholder="auto">
     <input matInput 
            [(ngModel)]="newMessage"
            type="text"
            placeholder="Message">     
 </mat-input-container>
 
 <button mat-raised-button [disabled]="newMessage.length === 0"
    (click)="addMessage()" color="primary">Send</button>
</div>
