@import "../../../../variables.scss";

$break-small: 670px;

.chat-messages{    
    padding: 0 10px;
    height: 73vh;    
    border-bottom: 1px solid lightgray;    
    background-color: #fafafa;
    overflow: auto;
    
    .descr{
        font-size: x-small;    
        margin-top: 5px;
    }
    
    .first{
        margin-top: 5px;
    }

    p{
        padding: 10px;
        margin-top: 0px;
        margin-bottom: 1px;
        background-color: white;
    }    
    p.input{        
        border-radius: 0px 5px 5px 5px;
        margin-right: 30%;
        background-color: #cbe8ff;        
    }
    p.output{
        border-radius: 5px 0px 5px 5px;
        margin-left: 30%;        
    }

    .output{        
        text-align: right;
    }
}
.input-message{
    background-color: white;
    padding: 0 10px;

    .mat-form-field {
        width: 80%;
    }
    button.big{
        float: right;
        margin-top: 10px;
    }
    button.small{
        display: none;
        float: right;
        margin-top: 15px;
    }
    @media screen and (max-width: $break-small) {
        button.big{
            display: none;
        }   
        button.small{
            display: inline;
        }   
    }
}