// component css goes here
.user-details{
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    
    .user-photo{
        margin-top: 10px;
        margin-bottom: -10px;
        width: 20vw;
        border-radius: 5px;        
    }

    .name {
        font-size: 40px;
        font-family: cursive;
        margin: 10px 0;
    }
    
}
