// component css goes here
.user-details{
    text-align: center;
border-bottom: 1px solid #eeeeee;

    .user-photo{
        margin-top: 20px;
        width: 15vw;
        border-radius: 5px;        
    }
}
