// component css goes here

$break-small: 670px;

.main{
    margin: 10px;

    .title{
        font-size: small;
        margin-left: 10px;
        color: #505050;
    }
    .list{
        height: 38vh;
        overflow: auto;
    }
    p.chat-item{
        margin-top: 5px;
        margin-left: 10px;
        background-color: #acacac;
        color: white;
        padding: 8px;
        border-radius: 5px;
        border: 2px solid transparent;
        cursor: pointer;
    }
    p.sel{
        border: 2px solid #2196f3;
        background-color: white;
        color: #2196f3;
    }

    @media screen and (max-width: $break-small) {
        p.chat-item{
            margin-left: 0px;
            font-size: small;
        }
    }

    button{
        margin-top: 5px;
    }
}

