<!--component html goes here -->
<div class="head">
    <h1>Statistics</h1>
    <mat-input-container floatPlaceholder="auto" class="search-input">
        <input #searchBox matInput (keyup)="search(searchBox.value)" type="text" required placeholder="" 
            >
        <span matPrefix>
            <mat-icon class="mat-18">search</mat-icon>
        </span>
    </mat-input-container>
</div>
<hr>

<div>
    <div class="list">
        <mat-list >
            <mat-list-item *ngFor="let chat of (chats$ | async)">
                <mat-icon matListIcon>chat</mat-icon>
                <h3 matLine> {{chat.chat_name}} ({{chat.messages_count}}) </h3>
                <button mat-icon-button (click)="editChat(chat)">
                    <mat-icon class="mat-18">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delChat(chat)">
                    <mat-icon class="mat-18">delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </div>

    <div *ngIf="isReady"  class="chart">
        <canvas baseChart [chartType]="pieChartType"
            [style.width]="100 + '%'"
            
            [data]="(chats_counts$ | async)" 
            [labels]="(chats_names$ | async)" ></canvas>
    </div>
</div>