// component css goes here
.chartjs-render-monitor {
    animation: 10s;
    margin: 10px;
}

h1{
    color: #505050;
}

.list {
    width: 40%;
    float: left;
}

.chart{
    width: 50%;
    float: right;
}
