<mat-toolbar color="primary">
    <span><mat-icon class="mat-18">forum</mat-icon> Avatar-Chat</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button class="add-bot-button" mat-raised-button 
                (click)="add_avatar.emit()" 
            color="accent">Add Avatar</button>

    <button mat-button [matMenuTriggerFor]="menu">        
            <mat-icon>perm_identity</mat-icon>
            <span>Admin</span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a routerLink="/login">
                <mat-icon>perm_identity</mat-icon>
                <span>Profile</span>
            </a>
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>