/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

// Geting main colors
@import "variables.scss";

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-weight: normal;
}