<mat-tab-group class="bot-tab-group" 
        [ngClass]="new_for_avatars.join(' ')"
        (selectedTabChange)="selectAvatar()"
        [(selectedIndex)]="sel_avatar">
        <mat-tab *ngFor="let bot of avatars"
                  label="{{bot.name}}">
          <div class="bot-tab-content">
            <div class="details">
                <app-details-bot 
                  [curent_user_name]="bot.name"
                  [curent_user_img]="bot.img" 
                  (kill)="kill(bot)"></app-details-bot>
                <app-rooms-list              
                  [sel_room_url]="bot.sel_room"    
                  [rooms]="bot.rooms"
                  (addRoom)="addRoom($event)"
                  (selectRoom)="selectRoom($event)"></app-rooms-list>
            </div>
            <div class="chat">
              <app-chat-room 
                [messages]="messages"
                [chat_url]="bot.sel_room"
                (addNewMessage)="addNewMessage($event)"
                [curent_user_name]="bot.name"
                [curent_user_img]="bot.img"></app-chat-room>
            </div>
          </div>
        </mat-tab>        
</mat-tab-group>

<div class="add-bot-button">
  <button mat-raised-button color="accent"
          (click)="openDialogAddAvatar()" >Add Avatar</button>
</div>