$small: 600px;

.bot-tab-group{    
    .mat-tab-header{
        width: 80vw !important;
    }    
    .bot-tab-content{
        border-bottom: 1px solid lightgray;
    }
}

.chat{
    margin-left: 30vw;
    border-left: 1px solid lightgray;
}
.details{
    width: 30vw;
    float: left;
}

.mat-dialog-container{
    overflow: initial;
}

.add-bot-container{
    color: #505050;
    text-align: center;
    .img-bot{
        height: 150px;
        margin-top: -120px;
        border: 3px solid #2196f3;
        border-radius: 100px;
        background-color: white;
        padding: 20px;
        overflow: hidden;
        img{
            width: 90%;
        }
    }
    h2.text{
        margin-bottom: 0px;
    }
    h1.text{
        margin: 0;
    }
}

/deep/ mat-dialog-container.mat-dialog-container {
    overflow: unset;
}

/deep/ mat-tab-header {
    width: calc(100% - 115px);
}

.add-bot-button{
    width: 105px;
    
    position: absolute;
    top: 69px;
    right: 10px;
    //background-color: white;
    //z-index: 100500;
    button{
        float: right;
    }
}
@media screen and (max-width: $small) {
    .add-bot-button{
        top: 60px;
        right: 5px;
    }
}




// add alarm for new messages
.alert{
    animation-name: alert-new-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes alert-new-animation {
    0%   {background-color: white;}
    50%  {background-color: orange;}
}
/deep/ mat-tab-group.avatar0 #mat-tab-label-0-0 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar1 #mat-tab-label-0-1 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar2 #mat-tab-label-0-2 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar3 #mat-tab-label-0-3 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar4 #mat-tab-label-0-4 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar5 #mat-tab-label-0-5 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar6 #mat-tab-label-0-6 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar7 #mat-tab-label-0-7 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar8 #mat-tab-label-0-8 {
    @extend .alert;
}
/deep/ mat-tab-group.avatar9 #mat-tab-label-0-9 {
    @extend .alert;
}
