$small: 600px;

.bot-tab-group{    
    .mat-tab-header{
        width: 80vw !important;
    }    
    .bot-tab-content{
        border-bottom: 1px solid lightgray;
    }
}

.chat{
    margin-left: 30vw;
    border-left: 1px solid lightgray;
}
.details{
    width: 30vw;
    float: left;
}

.mat-dialog-container{
    overflow: initial;
}

.add-bot-container{
    color: #505050;
    text-align: center;
    .img-bot{
        height: 150px;
        position: fixed;
        margin-top: -120px;
        margin-left: 30px;
        border: 3px solid #2196f3;
        border-radius: 100px;
        background-color: white;
        padding: 20px;
        max-height: 12vh;
        overflow: hidden;
        img{
            width: 12vh;
        }
    }
    h2.text{
        padding-top: 50px;
        margin-bottom: 0px;
    }
    h1.text{
        margin: 0;
    }
}

/deep/ mat-tab-header {
    width: calc(100% - 115px);
}

.add-bot-button{
    width: 105px;
    
    position: absolute;
    top: 69px;
    right: 10px;
    //background-color: white;
    //z-index: 100500;
    button{
        float: right;
    }
}
@media screen and (max-width: $small) {
    .add-bot-button{
        top: 60px;
        right: 5px;
    }
}